/******* -------------- ОБЩИЕ СВОЙСТВА (начало) -------------- *******/
/* @font-face {
    font-family: 'Bikham Cyr Script';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/bikham-cyr-script.ttf") format('truetype');
} */

body {
	background-color: #F4F6FB;
	font-family: 'Ubuntu', 'Tahoma', sans-serif;
}

a:hover {
	text-decoration: none;
}

.logo {
	width: 191px;
	height: 73px;
}

/* -------------- КНОПКА CTA (начало) -------------- */
.button {
	display: inline-block;
	
	position: relative;
	margin-right: 0;
	padding: 20px 50px;
	
	font-family: 'Ubuntu', 'Verdana', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF; 
	
	border-radius: 30px;
	
	background-color: #EF5E42;
}

.button:hover {
	color: #FFFFFF; 
	background-color: #ef8042;
}

.button:active {
	background-color: #B54029;
}

.button::before {
	box-sizing: border-box;
	
	position: absolute;
	top: 0;
	left: 0;
	
	display: inline-block;
	content: "";
	
	width: 100%;
	height: 100%;
	border: 2px solid #041032;
	border-radius: 30px;
	
 	transform: rotate(-3deg);
	
	transition: all 0.25s;
}

.button:hover::before {
	transform: rotate(3deg);
}

.button:active::before {
	transform: rotate(0deg);
}
/* -------------- КНОПКА CTA (конец) -------------- */

/* -------------- КНОПКА Play (начало) -------------- */
.button-play {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	margin-left: 33px;
	
	font-family: 'Ubuntu', 'Verdana', sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 150%;
	text-transform: uppercase;
	color: #041032;
}

.button-play-img {
	position: relative;
	display: inline-block;
	height: 60px;
	width: 60px;
	
	margin-right: 18px;
	
	background-color: #88CAFF;
	border-radius: 50%;
	background-image: url('../img/btn-arrow.svg');
	background-repeat: no-repeat;
	background-position: 55% 50%;

	z-index: 4;
}

.button-play-img:hover {
	background-color: #ef8042;
}

.button-play-img:active {
	background-color: #B54029;
}

.button-play-img.button-play-img-promo:hover {
	background-color: #5cb3fa;
}

.button-play-img.button-play-img-promo:active {
	background-color: #2c9ffc;
}

.button-play-img::before {
	box-sizing: border-box;
	display: inline-block;
	
	position: absolute;
	left: -6px;
	bottom: 0;
	
	content: "";
	
	width: 72.77px;
	height: 56.27px;
	
	border: 2px solid #041032;
	border-radius: 50%;
	
	transform: rotate(10.67deg);
	
	transition: all 0.25s;
}

.button-play-img:active::before {
	width: 100%;
	height: 100%;

	left: 0;
	transform: rotate(0deg);
}

.button-play-img:hover::before {
	transform: rotate(-10.67deg);
}

.button-play-text:hover {
	transition: all 0.5s;
}

.button-play-text:hover {
	color: #EF5E42;
}
/* -------------- КНОПКА Play (конец) -------------- */
/******* -------------- ОБЩИЕ СВОЙСТВА (конец) -------------- *******/


/******* -------------- HEADER (начало) -------------- *******/
.header.container {
	padding: 34px 0 46px;
}

.header-menu {
	list-style-type: none;
}

.menu-link {
	display: none;
}

.header-menu-link {
	font-size: 20px;
	font-weight: bold;
	line-height: 150%;
	color: #4050A5;

	transition: all 0.25s;
}

.header-menu-link:hover {
	color: #EF5E42;
}

.header-burger {
	position: relative;

	width: 30px;
	height: 20px;
	border: none;

	background-color: transparent;
}

.header-burger::before,
.header-burger::after {
	position: absolute;
	left: 0;

	width: 100%;
	height: 2px;
	
	content: "";
	background-color: black;
}

.header-burger::before {
	top: 0;
}

.header-burger::after {
	bottom: 0;
}

.header-burger span {
	position: absolute;
	left: 0;
	top: 9px;

	width: 100%;
	height: 2px;

	background-color: black;
}
/******* -------------- HEADER (конец) -------------- *******/


/******* -------------- Секция PROMO (начало) -------------- *******/
.promo {
	position: relative;
	min-height: 567px;

	background-image: url('../img/promo-wave.svg');
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.promo .container {
	position: relative;
	padding-top: 60px;
}

.promo-content {
	z-index: 2;
}

.promo-content h1 {
	margin-bottom: 0;
	
	font-family: 'Ubuntu', 'Verdana', sans-serif;
	/* font-family: 'Bikham Cyr Script', decorative; */
	font-size: 42px;
	letter-spacing: -0.02em;
	color: #041032;

	z-index: 4;
}

.promo-content .accent {
	color: #EF5E42;
}

.promo-content p {
	margin:32px 0;
	
	font-family: 'Roboto', 'Tahoma', sans-serif;
	font-size: 20px;
	line-height: 150%;
	color: #041032;
}

.button-play-promo {
	z-index: 4;
}

.promo-img {
	position: absolute;
	top: 21px;
	left: 365px;

	width: 1104px;
	min-height: 606px;

	background-image: url('../img/promo-photo.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 92% 50%; 
}
/******* -------------- Секция PROMO (конец) -------------- *******/


/******* -------------- Секция COMPANIES (начало) -------------- *******/
.companies {
	box-sizing: border-box;

	padding-top: 60px;
	min-height: 350px;

	background-color: #FFFFFF;
}

.companies-header {
	margin: 0;
	margin-top: 50px;
}

.companies-list {
	padding: 0;
	margin: 0;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	list-style-type: none;
}

.companies-list li {
	margin-top: 60px;
	text-align: center;
}

.companies-link {
	text-align: center;
}
/******* -------------- Секция COMPANIES (конец) -------------- *******/


/******* -------------- Секция STEPS (начало) -------------- *******/
.steps {
	padding-top: 91px;
	padding-bottom: 37.5px;
}

.step {
	height: 340px;
}

.steps-title-header {
	margin: 0;
}

.step .button {
	position: relative;
	margin-top: 50px;
}

.step .button::after {
	display: block;

	position: absolute;
	top: -25px;
    left: -24px;
	z-index: -1;

	width: 280px;
	height: 110px;

	content: "";
	background-image: url('../img/steps/button-decor.svg');
}

.step-image {
	height: 135px;
}

.step-header {
	margin: 0;
	margin-top: 24px;

	font-family: 'Ubuntu', 'Verdana', sans-serif;
	font-size: 24px;
	color: #041032;
}

.step-text {
	margin-top: 17px;
	margin-bottom: 17px;

	font-family: 'Ubuntu', 'Verdana', sans-serif;
	font-size: 17px;
	line-height: 150%;
	color: #041032;
}
/******* -------------- Секция STEPS (конец) -------------- *******/


/******* -------------- Секция PORTFOLIO (начало) -------------- *******/
.portfolio {
	min-height: 1055.5px;
	background-image: url('../img/portfolio-bg.svg');
}

.portfolio-title {
	margin: 0;
	margin-top: 86.5px;

	font-family: 'Ubuntu', 'Verdana', sans-serif;
	font-size: 42px;
	color: white;
}

.portfolio-list {
	margin: 0;
	margin-top: 45px;
}

.portfolio .container::before {
	display: table;
	content: "";
}

.portfolio-item {
	margin-bottom: 30px;
	width: 411px;
	height: 357px;

	border-radius: 10px;
}

.portfolio-content {
	margin-bottom: 10px;
	padding-left: 20px;
}

.portfolio-content .button-play {
	position: relative;
}

.portfolio-content .button-play::after {
	box-sizing: border-box;
	display: block;

	position: absolute;
	top: -1px;
    left: -15px;

	width: 90px;
	height: 90px;
	border: 1px solid #EF5E42;
	border-radius: 50%;

	content: "";
	opacity: 0.33;
}

.button-play-img-portfolio {
	background-color: #EF5E42;
}

.portfolio-description {
	margin-left: 10px;
}

.portfolio-header {
	margin-bottom: 10px;
	
	font-family: 'Ubuntu', 'Verdana', sans-serif;
	font-size: 20px;
	color: #4050A5;
}

.portfolio-text {
	margin-top: 10px;
	
	font-family: 'Roboto', 'Tahoma', sans-serif;
	font-size: 20px;
	line-height: 150%;
	color: #041032;
}

.portfolio-item-first {
	background: url('../img/portfolio/portfolio-item-bg.svg') no-repeat  bottom,
				url('../img/portfolio/first.svg') no-repeat top;
}

.portfolio-item-second {
	background: url('../img/portfolio/portfolio-item-bg.svg') no-repeat bottom,
				url('../img/portfolio/second.svg') no-repeat top;
}

.portfolio-item-third {
	background: url('../img/portfolio/portfolio-item-bg.svg') no-repeat bottom,
				url('../img/portfolio/third.svg') no-repeat top;
}

.portfolio-item-fourth {
	background: url('../img/portfolio/portfolio-item-bg.svg') no-repeat bottom,
				url('../img/portfolio/first.svg') no-repeat top;
}

.portfolio-item-fifth {
	background: url('../img/portfolio/portfolio-item-bg.svg') no-repeat bottom,
				url('../img/portfolio/second.svg') no-repeat top;
}

.portfolio-item-more {
	position: relative;
	
	width: 410px;
	height: 357px;

	background-color: white;
	background-image: url('../img/portfolio/more-item-decor.svg');
	background-repeat: no-repeat;
	background-position: 50% 53%;
	
	border-radius: 10px;
}

.button-play::before {
	display: table;
	content: "";
}

.button-play-img-more::after {
	box-sizing: border-box;

	position: absolute;
	top: -100px;
    left: -142px;

    width: 363px;
    height: 357px;
	border: 2px solid #041032;
	border-radius: 10px;
    
	content: "";

	transform: rotate(1.16deg);

	transition: all 0.5s;
}

.button-play-img-more:hover::after {
	transform: rotate(0);
}

.button-play-more {
	position: relative;

	display: flex;
	flex-direction: column;

	margin-top: 100px;
	margin-left: 0;
}

.button-play-img-more {
	position: relative;

	background-color: #EF5E42;
	background-image: url('../img/portfolio/Plus.svg');
	background-position: center;
}

.portfolio-more-text {
	margin-top: 24px;

	font-family: 'Ubuntu', 'Verdana', sans-serif;
	font-size: 24px;
	text-transform: capitalize;
	color: #041032;
}

.button-play-more:hover .portfolio-more-text {
	color: #EF5E42;
}
/******* -------------- Секция PORTFOLIO (конец) -------------- *******/


/******* -------------- Секция ADVANTAGES (начало) -------------- *******/
	.advantages {
		padding: 110px 0 57px;
	}

	.advantages-title {
		margin: 0;
		margin-bottom: 65px;

		font-family: 'Ubuntu', 'Verdana', sans-serif;
		font-size: 42px;
		font-weight: bold;
		color: #041032;
	}

	.advantages-item {
		margin-bottom: 30px;
	} 

	.advantages-image {
		height: 135px;
	}

	.advantages-item-header {
		margin-top: 25px;
		
		font-family: 'Ubuntu', 'Verdana', sans-serif;
		font-size: 24px;
		font-weight: bold;
		color: #041032;
	}

	.advantages-item-text {
		width: 70%;
		margin: 0 auto 30px;
	}
/******* -------------- Секция ADVANTAGES (конец) -------------- *******/


/******* -------------- Секция REVIEWS (начало) -------------- *******/
.reviews {
	padding-bottom: 27px;
}

.reviews-title {
	margin-bottom: 35px;
}

.reviews-title-header {
	font-family: 'Ubuntu', 'Verdana', sans-serif;
	font-size: 42px;
	color: #041032;
}

.reviews-title-buttons {
	display: flex;
	margin-left: 40px;
}

/* .reviews-title-buttons .button-play {
	margin: 0;
} */

.button-arrow-left {
	background-color: #EF5E42;
	background-image: url('../img/reviews/arrow-left.svg');
	background-position: 45% 50%;
	
	border: none;
	cursor: pointer;
}

.button-arrow-right {
	background-color: #EF5E42;
	background-image: url('../img/reviews/arrow-right.svg');
	
	border: none;
	cursor: pointer;
}

.reviews-title-buttons button:focus {
	outline: none;
}

.review {
	padding-bottom: 36px;
	padding-top: 35px;

	background-color: #FFFFFF;
	border-radius: 20px;
}

.review-image {
	margin-bottom: 30px;
	height: 50px;
}

.review-text {
	margin: 32px 35px 0;
	min-height: 200px;

	font-family: 'Ubuntu', 'Verdana', sans-serif;
	font-size: 17px;
	line-height: 150%;
	color: #041032;
}

.review-caption {
	margin-bottom: 27px;

	font-family: 'Ubuntu', 'Verdana', sans-serif;
	font-size: 15px;
	line-height: 150%;
	color: #999999;
}

.button-play-review {
	position: relative;
	margin: 0;

	font-size: 24px;
	font-weight: normal;
	text-transform: none;
}

.button-play-img-review {
	margin: 0 18px;
	background-color: #EF5E42;
}

.review .btn-play::after {
	box-sizing: border-box;
	display: block;
	
	position: absolute;
	top: -16px;
    left: 56px;

	width: 90px;
	height: 90px;
	border: 1px solid #EF5E42;
	border-radius: 50%;

	content: "";

	opacity: 0.33;
}

.reviews-pages {
	margin-top: 25px;
	min-height: 15px;
}

.reviews-page {
	margin-left: 15px;
	padding: 0;

	width: 3px;
	height: 3px;
	border: none;
	border-radius: 50%;

	background-color: #041032;
}

.reviews-page.active {
	width: 13px;
	height: 13px;
	border: 2px solid #000000;

	background-color: transparent;
}

.reviews-page:focus {
	outline: none;
}
/******* -------------- Секция REVIEWS (конец) -------------- *******/


/******* -------------- FOOTER (начало) -------------- *******/
footer {
	margin-top: 20px;
	min-height: 596px;

	background: url('../img/footer-bg.svg') no-repeat bottom;
}

.footer-form {
	box-sizing: border-box;

	width: 1290px;
	min-height: 280px;
	padding-left: 105px;
	padding-right: 145px;
	
	background-image: url('../img/form-bg.svg');
	background-repeat: no-repeat;
	background-size: contain;
}

.footer-form-header {
	font-family: 'Ubuntu', 'Verdana', sans-serif;
	font-size: 42px;
	color: #041032;
}

.footer-form-text {
	font-family: 'Ubuntu', 'Verdana', sans-serif;
	font-size: 24px;
	line-height: 150%;
	color: #041032;
}

.footer-form .button {
	position: relative;
	z-index: 4;
}

.footer-bottom {
    padding: 80px 60px;
}

.footer-form .button::after {
	display: block;

	position: absolute;
	top: -25px;
    left: -24px;
	z-index: 1;

	width: 280px;
	height: 110px;

	content: "";
	background-image: url('../img/steps/button-decor.svg');
}

.footer-social {
	margin: 0;
	margin-bottom: 52px;
	padding: 0;

	list-style-type: none;
}

.footer-social li:first-child {
	margin-right: 35px;
} 

.youtube {
	display: block;
	width: 78px;
}

.linkedin {
	display: block;
	width: 78px;
}

.facebook {
	display: block;
	width: 78px;
}

.footer-copy {
	margin: 0;

	font-family: 'Ubuntu', 'Verdana', sans-serif;
	font-size: 17px;
	color: #F4F6FB;
}

.footer-bottom-right {
	padding-top: 32px;
} 

.footer-bottom-right::after {
	display: table;
	content: "";
}

.footer-email {
	font-family: 'Ubuntu', 'Verdana', sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: #88CAFF;
}

.footer-links {
	margin-top: 40px;
}

.footer-links a {
	margin-left: 35px;

	font-family: 'Ubuntu', 'Verdana', sans-serif;
	font-size: 17px;
	color: #F4F6FB;

	transition: all 0.5s;
}

.footer-links a:hover {
	color: #EF5E42;
}
/******* -------------- FOOTER (конец) -------------- *******/


/******* -------------- МЕДИА-ЗАПРОСЫ (начало) -------------- *******/
@media (min-width: 1200px) {
	.container {
		max-width: 1290px;
	}
}

@media (max-width: 1199px) {
	.promo-img {
		margin: auto;
		margin-top: 20px;
		
		position: relative;
		left: 0;

		width: 684px;
		height: 376px;
	}

	.companies {
		min-height: 300px;
	}

	.companies-header {
		margin-top: 25px;
	}

	.button-play-img-more::after {
		display: none;
	}

	.review-text {
		min-height: 225px;
	}

	.review-caption {
		margin-top: 35px;
	}

	.footer-form {
		background-image: url('../img/form-bg.svg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.footer-form {
		padding-left: 67px;
		padding-right: 74px;
	}

	.footer-bottom {
		padding: 80px 19px;
	}

	.footer-social li:first-child {
		margin-right: 6px;
	}
}

@media (max-width: 991px) {

	.logo {
		width: 125px;
		height: 47px;
	}

	.promo {
		min-height: 455px;
	}

	.promo-content h1 {
		font-size: 32px;
	}

	.promo-content p {
		font-size: 17px;
	}

	.companies {
		min-height: 370px;
	}

	.companies-header {
		margin-top: 0px;
	}
 
	.portfolio {
		background-image: url('../img/portfolio-bg.svg');
		background-size: cover;
		background-position: top;
	}

	.portfolio-content .button-play-img {
		position: relative;
		top: -11px;
    	left: -10px;

		width: 45px;
		height: 45px;

		background-size: 30%;
	}

	.portfolio-content .button-play-img::before {
		bottom: 0;
		left: -4px;

		width: 53px;
		height: 41px;
	}

	.portfolio-content .button-play::after {
		top: 0px;
		left: -20px;

		width: 65px;
		height: 65px;
	}
	
	footer {
		background: url('../img/footer-bg.svg') top / cover;
	} 

	.footer-form {
		background-size: auto;
		background-position: 0 0;
	}
}

@media (max-width: 767px) {
	.header-menu {
		padding: 0;
	}

	.header-menu li:last-child {
		margin-left: 40px;
	}

	.promo-img {
		left: -92px;
	}

	.step {
		min-height: 248px;
		margin-top: 20px;
	}

	.step-image {
		height: 128px;
	}

	.step-header {
		margin: 0;
		margin-top: 18px;

		font-family: 'Ubuntu', 'Verdana', sans-serif;
		font-size: 20px;
		color: #041032;
	}
	
	.step-text {
		margin-top: 17px;
		margin-bottom: 17px;

		font-family: 'Ubuntu', 'Verdana', sans-serif;
		font-size: 15px;
		line-height: 150%;
		color: #041032;
	}

	.portfolio-content {
		margin-left: 10%;
	}

	.portfolio-item-more {
		width: 410px;
	}

	.review-text {
		min-height: 150px;
	}
}

@media (max-width: 479px) {
	.promo-content h1 {
		font-size: 28px;
	}

	.footer-form-header {
		font-size: 32px;
	}
}
/******* -------------- МЕДИА-ЗАПРОСЫ (конец) -------------- *******/